<h1>Welcome to component development using Directives</h1>
<cfooter ></cfooter>
<div cfooter ></div>
<spinner></spinner>
<div spinner ></div>

<div ng-click="parentClick()" style="border:1px solid red" >
	Parent element
	<div ng-click= "childClick()" style="border:1px solid blue;margin:10px;"  >Child element</div>
</div>

<div class="row" style="margin-top:25px;" >
	<div class="col-lg-3 col-sm-12" >
		<input type="text" class="form-control" >
	</div>
	<div class="col-lg-3 col-sm-12 " >
		<input type="text" class="form-control" >
	</div>
	<div class="col-lg-3 col-sm-12" >
		<input type="text" class="form-control" >
	</div>
	<div class="col-lg-3 col-sm-12" >
		<input type="text" class="form-control" >
	</div>
</div>


